In [4]:
import pandas as pd

ghana_weather = pd.DataFrame({
    "city":["accra", "kumasi","cape"],
    "temperature": [32,45,30],
    "humidity": [80,60,78]
})
ghana_weather

     city  temperature  humidity
0   accra           32        80
1  kumasi           45        60
2    cape           30        78

In [5]:
us_weather = pd.DataFrame({
    "city": ["new york","chicago","orlando"],
    "temperature": [21,14,35],
    "humidity": [68, 65, 75]
})
us_weather

       city  temperature  humidity
0  new york           21        68
1   chicago           14        65
2   orlando           35        75

In [9]:
df = pd.concat([ghana_weather, us_weather],keys=["ghana","usa"])
df

             city  temperature  humidity
ghana 0     accra           32        80
      1    kumasi           45        60
      2      cape           30        78
usa   0  new york           21        68
      1   chicago           14        65
      2   orlando           35        75

In [10]:
df.loc["ghana"]

     city  temperature  humidity
0   accra           32        80
1  kumasi           45        60
2    cape           30        78

In [12]:
temperature_df = pd.DataFrame({
    "city": ["mumbai","delhi","banglore"],
    "temperature": [32,45,30],
}, index=[0,1,2])
temperature_df

       city  temperature
0    mumbai           32
1     delhi           45
2  banglore           30

In [13]:
windspeed_df = pd.DataFrame( {
    "city": ["mumbai","delhi","banglore"],
    "windspeed": [32,45,30],
},index=[0,1,2])
windspeed_df

       city  windspeed
0    mumbai         32
1     delhi         45
2  banglore         30

In [17]:
df = pd.concat([temperature_df,windspeed_df],axis=1)
df

       city  temperature      city  windspeed
0    mumbai           32    mumbai         32
1     delhi           45     delhi         45
2  banglore           30  banglore         30

True