In [1]:
import pandas as pandas
import numpy as numpy
df = pandas.read_csv("ghana_weather1.csv")
df

       date    city  temperature  humidity
0  5/1/2024   accra           65        56
1  5/2/2024   accra           66        58
2  5/3/2024   accra           68        60
3  5/1/2024  kumasi           75        80
4  5/2/2024  kumasi           78        83
5  5/3/2024  kumasi           82        85
6  5/1/2024    cape           80        26
7  5/2/2024    cape           77        30
8  5/3/2024    cape           79        35

In [6]:
df.shape

(9, 4)

In [8]:
df.dtypes

date           object
city           object
temperature     int64
humidity        int64
dtype: object

In [7]:
df.columns

Index(['date', 'city', 'temperature', 'humidity'], dtype='object')

In [5]:
df["city"].unique()

array(['accra', 'kumasi', 'cape'], dtype=object)

In [13]:
df.pivot(index="city", columns="date",values="temperature")

date    5/1/2024  5/2/2024  5/3/2024
city
accra         65        66        68
cape          80        77        79
kumasi        75        78        82

In [14]:
df = pandas.read_csv("ghana_weather2.csv")
df

       date    city  temperature  humidity
0  5/1/2024   accra           65        56
1  5/1/2024   accra           61        54
2  5/2/2024   accra           70        60
3  5/2/2024   accra           72        62
4  5/1/2024  kumasi           75        80
5  5/1/2024  kumasi           78        83
6  5/2/2024  kumasi           82        85
7  5/2/2024  kumasi           80        26

In [16]:
df.pivot_table(index="city",columns="date",margins=True,aggfunc=numpy.sum)

C:\Users\USER\AppData\Local\Temp\ipykernel_8588\1364266261.py:1: FutureWarning: The provided callable <function sum at 0x0000024F4AEE5120> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  df.pivot_table(index="city",columns="date",margins=True,aggfunc=numpy.sum)
C:\Users\USER\AppData\Local\Temp\ipykernel_8588\1364266261.py:1: FutureWarning: The provided callable <function sum at 0x0000024F4AEE5120> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  df.pivot_table(index="city",columns="date",margins=True,aggfunc=numpy.sum)
C:\Users\USER\AppData\Local\Temp\ipykernel_8588\1364266261.py:1: FutureWarning: The provided callable <function sum at 0x0000024F4AEE5120> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  df.pivot_table(index="city",columns="date",margins=True,aggfunc=numpy.sum)

       humidity               temperature
date   5/1/2024 5/2/2024  All    5/1/2024 5/2/2024  All
city
accra       110      122  232         126      142  268
kumasi      163      111  274         153      162  315
All         273      233  506         279      304  583

In [17]:
df = pandas.read_csv("ghana_weather3.csv")
df

        date    city  temperature  humidity
0   5/1/2024  kumasi           65        56
1   5/2/2024  kumasi           61        54
2   5/3/2024  kumasi           70        60
3  12/1/2024  kumasi           30        50
4  12/2/2024  kumasi           28        52
5  12/3/2024  kumasi           25        51

In [19]:
df['date']= pandas.to_datetime(df["date"])

In [20]:
df.pivot_table(index=pandas.Grouper(freq = "M",key='date'),columns = "city")

             humidity temperature
city           kumasi      kumasi
date
2024-05-31  56.666667   65.333333
2024-12-31  51.000000   27.666667